@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Royal Art School</h1>
    <p>To apply your course and start your art journey click the Apply button
       
        <a class="btn btn-primary"href="/Course/Apply">Apply</a>
       
    </p>
</div>
